:root {
  --card-unselected: dodgerblue;
  --card-selected:  green;
  --card-completed: grey;
  --card-wrong: red;	
}
	
	   
body {
  background-color: lightblue;
}

.cards { grid-template-columns: repeat(8, 1fr); 
         padding: 20px;
}
 
.card {
  background-color: var(--card-unselected);
  color: white;
  font-size: 20px;
  padding: 1rem;
  height: 2rem;
}


.cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.blue{ 
  color : blue;
}

.selected {
  background-color: var(--card-selected);
}

.completed { 
   background-color: var(--card-completed);
}
.wrong {
  background: red;
}

.button-simple {
   margin-left: 20px;
   font-size: 20px;
}
